<div id="<%= dom_id post_tag %>">
  <p>
    <strong>Post Id:</strong>
    <%= post_tag.post_id %>
  </p>
  <p>
    <strong>Tag Id:</strong>
    <%= post_tag.tag_id %>
  </p>
  <p>
    <strong>Avalaible:</strong>
    <%= post_tag.available %>
  </p>
</div>
